@import "../../styles/colors";

.game-intro-section {
  background-color: $primary;
  display: flex;
  align-items: center;
  justify-content: center;

  .info {
    h3 {
      color: white;
      margin-bottom: 0;
    }

    h1 {
      color: white;
    }

    p {
      margin-top: 1rem;
      color: white;
    }
  }
}
