@import "../../styles/colors";

.container {
  background-color: $primary;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;

  .info {
    padding-right: 2rem;
    h3 {
      color: white;
      margin-bottom: 0;
    }

    h1 {
      color: white;
    }

    p {
      margin-top: 1rem;
      color: white;
    }

    .button {
      width: 12rem;
      margin-top: 1rem;
    }

    @media (max-width: 480px) {
      padding-top: 2rem;
    }
  }
}
