@import "../../styles/colors";

.container {
  background-color: $secondary;
  border: 2px solid $blue;
  border-radius: 8px;
  width: 17rem;
  padding: 2.5rem 0 1rem 0;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;

  @media (max-width: 480px) {
    padding: 1rem 0;
    width: 19rem;
  }

  p {
    &.member-name {
      color: white;
      margin: 0;
      text-align: center;

      @media (max-width: 480px) {
        text-align: left;
      }
    }

    &.member-role {
      color: $blue;
      margin: 0;
      text-align: center;

      @media (max-width: 480px) {
        text-align: left;
      }
    }

    @media (max-width: 480px) {
      padding-left: 4rem;
    }
  }

  .avatar-img {
    position: absolute;
    top: -6.5rem;
    left: 50%;
    transform: translateX(-50%);

    @media (max-width: 480px) {
      top: -1.5rem;
      left: -4rem;
      transform: translateY(-50%);
      transform: translateX(0);
      width: 8rem;
    }
  }
}
