@import "../../styles/colors";

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 910;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $secondaryDark;
    opacity: 0.3;
    z-index: 11;
    pointer-events: none;
  }

  .modal {
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    background-color: $secondary;
    border: 2px solid $blue;
    border-radius: 8px;
    width: 32rem;
    padding: 4rem 1rem 1rem 1rem;
    position: relative;
    z-index: 13;

    @media (max-width: 480px) {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
    }

    p {
      &.member-name {
        color: white;
        margin: 0;
        text-align: center;
      }

      &.member-role {
        color: $blue;
        margin: 0;
        text-align: center;
      }

      &.member-bio {
        color: white;
        margin-top: 1rem;
      }
    }

    .avatar-img {
      position: absolute;
      top: -8rem;
      left: 50%;
      transform: translateX(-50%);

      @media (max-width: 480px) {
        top: -11rem;
      }
    }
  }
}
