@import "../../styles/colors";

.faction-section {
  background-color: $primary;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    text-align: center;
    color: white;
  }

  h2 {
    text-align: center;
    color: white;
    margin-bottom: 2rem;
  }
}
