@import "../../styles/fonts";

.container {
  display: flex;
  width: 50rem;
  height: 23rem;
  flex-wrap: wrap;

  @media (max-width: 900px) {
    width: 25rem;
    height: 46rem;
    flex-direction: column;
  }

  .email-subscription {
    flex: 50%;
    height: 100%;
    background-image: url("/images/bg/bg_sm_subscribe_widget.png");
    background-size: 100%;
    background-repeat: no-repeat;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

    @media (max-width: 900px) {
      border-radius: 8px;
    }

    .email-input {
      height: 100%;
      position: relative;
      h2 {
        position: absolute;
        left: 50%;
        top: 4rem;
        transform: translateX(-50%);
        color: white;
        font-family: $font-barlow-semi-Condensed-Exlight;
        font-weight: 600;
      }

      input {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 16rem;

        &::placeholder {
          font-size: 1rem;
          text-align: center;
          color: white;
          opacity: 0.7;
        }
      }

      button {
        position: absolute;
        left: 50%;
        bottom: 4rem;
        transform: translateX(-50%);
        width: 12rem;
        background-color: #a581fb;
        border: 2px solid #a581fb;

        &:hover {
          border: 2px solid #a581fb;
        }
      }
    }

    .contactProfileCreated {
      height: 100%;
      position: relative;

      .message {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;

        p {
          color: white;
          text-align: center;
          margin-top: 1rem;
        }
      }

      .created-image {
        width: 6rem;
        margin-top: 3.8rem;
      }
    }

    .contactProfileVerified {
      height: 100%;
      position: relative;

      .message {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;

        p {
          color: white;
          text-align: center;
          margin-top: 1rem;
        }
      }

      .created-image {
        width: 5rem;
        margin-top: 3.8rem;
      }
    }

    .connect-metamask {
      height: 100%;

      position: relative;

      h2 {
        position: absolute;
        left: 50%;
        top: 4rem;
        transform: translateX(-50%);
        color: white;
        font-family: $font-barlow-semi-Condensed-Exlight;
        font-weight: 600;
        width: 100%;
        text-align: center;
      }

      .metamask-image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      button {
        position: absolute;
        left: 50%;
        bottom: 4rem;
        transform: translateX(-50%);
        width: 12rem;
        background-color: #a581fb;
        border: 2px solid #a581fb;

        &:hover {
          border: 2px solid #a581fb;
        }
      }
    }
  }

  .discord-link {
    position: relative;
    flex: 50%;
    background-image: url("/images/bg/bg_sm_subscribe_widget_no_logo.png");
    background-size: 100%;
    background-repeat: no-repeat;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

    @media (max-width: 900px) {
      border-radius: 8px !important;
    }

    h2 {
      position: absolute;
      left: 50%;
      top: 4rem;
      transform: translateX(-50%);
      color: white;
      font-family: $font-barlow-semi-Condensed-Exlight;
      font-weight: 600;
    }

    .discord-image {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    button {
      position: absolute;
      left: 50%;
      bottom: 4rem;
      transform: translateX(-50%);
      width: 12rem;
      background-color: #a581fb;
      border: 2px solid #a581fb;

      &:hover {
        border: 2px solid #a581fb;
      }
    }
  }
}
