$primary: #1f2032;
$primaryLight: #323452;
$secondary: #1c1e2e;
$secondaryDark: #171724;

// Faction Colors
$factionIndustrial: #932b28;
$factionEco: #4d7937;
$factionTech: #2f64b2;
$factionTraditional: #c09c11;

// Colors
$blue: #4b6ecd;
$darkBlue: #4b6ecd;
$gray: #72748b;
$lightGray: #dadce0;
$grayFade: #2b2c3f;
$lightblue: #734eec;
