$primary: #1f2032;
$primaryLight: #323452;
$secundary: #1c1e2e;
$secundaryDark: #171724;

// Faction Colors
$factionIndustrial: #932b28;
$factionEco: #4d7937;
$factionTech: #2f64b2;
$factionTraditional: #c09c11;

// Colors
$blue: #4b6ecd;
