$font-barlow-Condensed: "Barlow Condensed";

$font-barlow-semi-Condensed: "Barlow Semi Condensed";

$font-barlow-semi-Condensed-light: "Barlow Semi Condensed Light";

$font-barlow-semi-Condensed-Exlight: "Barlow Semi Condensed ExLight";
