@import "./colors";
@import "./fonts/barlow/stylesheet.css";

html,
body {
  min-height: 100%;
  margin: 0;
  padding: 0 0 0 0;

  @media (max-width: 480px) {
    font-size: 12px;
  }
}

// ---------- Buttons ----------

button {
  &.btn-custom {
    position: relative;
    cursor: pointer;
    outline: inherit;
    text-align: center;
    vertical-align: middle;
    border: 2px solid $grayFade;
    font-family: "Barlow Semi Condensed";
    color: white;
    background-color: $secondary;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 8px;
    padding: 0 1rem 2px 1rem;
    height: 2.7rem;
    font-weight: 500;

    &.blue {
      background-color: #5c7bea !important;
    }

    &.border-blue {
      border: 1px solid#5c7bea !important;
    }

    &.dark {
      border: 2px solid $grayFade;
      background-color: $secondary;
    }

    &.button--large {
      height: 5rem;
      font-size: 2rem;
      line-height: 4rem;
      width: 15rem;
    }

    &.button--medium {
      height: 2.9rem;
    }

    &:hover {
      border: 2px solid $darkBlue;
    }

    &.no-border-hover {
      &:hover {
        border: none;
      }
    }

    &:focus {
      outline: none;
    }

    &.button--lightBorder {
      border: 2px solid $darkBlue;
    }

    &.button--filled {
      background-color: #4826b4;
      color: white;
      border: 2px solid #4826b4;
    }

    &:disabled {
      &:hover {
        border: initial;
      }
      opacity: 0.8;
      cursor: default;
    }

    img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 1rem;
      width: 1.5rem;
    }
  }
}

// --------------------

// ---------- Typography ----------

h1 {
  font-family: "Barlow Semi Condensed";
  font-weight: 300;
  font-style: normal;
}

h2 {
  font-family: "Barlow Condensed";
  font-weight: 200;
  font-style: normal;
}

h3 {
  font-family: "Barlow Semi Condensed";
  font-weight: 300;
  font-style: normal;
}

p {
  font-family: "Barlow Condensed";
  font-weight: 300;
  font-style: normal;
  font-size: 1.3rem;
}

.main-layout__content {
  overflow: hidden;
}

.padding-sides-0 {
  padding: 0 0 !important;
}

// Inputs ---------------

input {
  &.input-custom {
    padding: 0.5rem;
    border-radius: 8px;
    font-family: "Barlow Semi Condensed";
    color: $gray;
    font-size: 1.2rem;
    resize: none;

    &:focus {
      outline: none;
      border: 2px solid $darkBlue;
    }

    &:disabled {
      background-color: #1c1e2e;
      border: 2px solid #2b2c3f;
    }

    &.purple {
      background-color: #4c3287;
      border: 0;
      color: white;
    }
  }
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
