@import "../../styles/colors";
@import "../../styles/fonts";

.container {
  position: relative;
  background-color: $primary;
  width: 100%;

  h1 {
    position: absolute;
    top: 8rem;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
  }

  h2 {
    position: absolute;
    top: 11rem;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
    margin-bottom: 4rem;
  }

  .team-container {
    padding: 0 8rem;
    margin-top: 8rem;

    .team-member {
      margin: 4rem 0;
    }
  }
}
