@import "../styles/colors";

.faction-info-page {
  background-color: $primary;
  padding-top: 15rem;

  .faction-info-tabs {
    display: flex;
    justify-content: center;

    .col {
      display: flex;
      justify-content: center;

      @media (max-width: 480px) {
        padding: 0;
      }
    }

    .faction-info-tabs-item {
      position: relative;
      background-color: #2b2c3f;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      padding: 1rem;
      width: 100%;
      text-align: center;
      cursor: pointer;
      color: white;

      @media (max-width: 480px) {
        padding: 0.5rem;
        margin: 0.5rem 0.5rem 0 0.5rem;
      }

      .faction-info-tabs-item-img {
        position: absolute;
        top: -8rem;
        left: 50%;
        transform: translateX(-50%);
        width: 5rem;
        filter: grayscale(100%);

        @media (max-width: 353px) {
          width: 4rem;
        }
      }

      &.faction-info-tabs-industrial-active {
        background-color: $secondaryDark;
        color: $factionIndustrial;

        img {
          filter: none;
        }
      }

      &.faction-info-tabs-eco-active {
        background-color: $secondaryDark;
        color: $factionEco;

        img {
          filter: none;
        }
      }

      &.faction-info-tabs-tech-active {
        background-color: $secondaryDark;
        color: $factionTech;

        img {
          filter: none;
        }
      }

      &.faction-info-tabs-traditional-active {
        background-color: $secondaryDark;
        color: $factionTraditional;

        img {
          filter: none;
        }
      }
    }
  }

  .faction-info-content {
    background-color: $secondaryDark;
    width: 100%;
    min-height: 100vh;
    padding-bottom: 4rem;

    .faction-info-content-header-img {
      width: 100%;
    }

    h2 {
      text-align: left;
      padding: 0 1rem;
    }
  }

  .faction-info-content-desc {
    color: white;
    padding: 0 1rem;
    margin-top: 1rem;
  }

  .faction-info-content-stats {
    display: flex;
    justify-content: center;
    margin-top: 4rem;

    img {
      width: 100%;
    }
  }

  .faction-info-content-advisor-bio {
    position: relative;
    display: flex;
    align-items: center;
    height: 100vh;
    margin-top: 2rem;

    h2 {
      position: relative;
      text-align: left;
      padding: 0 1rem;
      z-index: 10;

      @media (max-width: 480px) {
        padding: 2rem 0 0 1rem;
      }
    }

    .faction-info-content-advisor-bio-text {
      position: relative;
      color: white;
      padding: 0 1rem;
      margin-top: 1rem;
      z-index: 1;

      .col {
        position: relative;
        z-index: 10;
      }

      @media (max-width: 480px) {
        padding-bottom: 0 0 2rem 0;
      }
    }

    .faction-info-content-advisor-bio-gradient-top {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
    }

    .faction-info-content-advisor-bio-gradient-bottom {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: auto;
    }
  }
}
