// ** NAME OF THIS FILE IS DIFFERENT BECAUSE OF WEIRD PROBLEM WITH PUBLISHING **

.container {
  .top-section {
    position: relative;
    height: 100%;
    width: 100%;
    min-height: 100vh;

    h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 7rem;
      line-height: 7rem;
      text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.7);
      color: white;
      text-align: center !important;
      width: 100%;

      @media (max-width: 1500px) {
        font-size: 6rem;
        line-height: 6rem;
      }

      @media (max-width: 480px) {
        font-size: 4rem;
        line-height: 4rem;
        text-align: center;
        width: 100%;
      }
    }
  }

  .column-section {
    position: relative;
    height: 100%;
    width: 100%;
    min-height: 100vh;

    @media (max-width: 480px) {
    }

    @media (min-width: 400px) and (max-width: 480px) {
      min-height: 70vh !important;
      max-height: 70vh !important;
      display: flex;
      align-items: center;
    }
  }

  .vertical-section {
    position: relative;
    height: 100%;
    width: 100%;
    min-height: 100vh;

    @media (max-width: 480px) {
    }

    @media (min-width: 400px) and (max-width: 480px) {
      min-height: 70vh !important;
      max-height: 70vh !important;
      display: flex;
      align-items: center;
    }
  }

  .gameplay-types-section {
    background-image: url("/images/bg/bg_gameplay_types_mobile.webp") !important;
    background-position: center center;
    background-size: cover;
  }
}
