.container {
  .top-section {
    position: relative;
    height: 100%;
    width: 100%;
    min-height: 100vh;

    h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 7rem;
      line-height: 7rem;
      text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.7);
      color: white;
      text-align: center !important;

      @media (max-width: 480px) {
        font-size: 4rem;
        line-height: 4rem;
        text-align: center;
      }
    }
  }

  .play-to-earn-section {
    position: relative;
    height: 100%;
    width: 100%;
    min-height: 100vh;
  }

  .for-section {
    position: relative;
    height: 100%;
    width: 100%;
    min-height: 100vh;
  }

  .integrated-wallet-section {
    position: relative;
    height: 100%;
    width: 100%;
  }

  .gameplay-types-section {
    position: relative;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    z-index: 100;
  }

  .defi-empire-section {
    min-height: 100vh;
  }
}
