@import "../styles/colors";

.top-section {
  position: relative;
  height: 100%;
  width: 100%;

  .playbutton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10rem;
  }
}

.whitepaper-section {
  .info {
    h3 {
      color: white;
    }

    h1 {
      color: white;
    }

    p {
      color: white;
    }
  }

  .graphic {
  }
}

.faction-section {
  background-color: $primary;
  z-index: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  h1,
  h2 {
    text-align: center;
    color: white;
  }
}
