@import "../styles/colors";

.top-section {
  position: relative;
  height: 100%;
  width: 100%;

  .playbutton {
    position: absolute;
    opacity: 0.8;
    top: calc(50% - 1rem);
    left: calc(50% - 3.5rem);
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: 0.5s ease-in-out;
    animation-delay: 2s;
    animation: heartbeat 3s infinite;

    @media (max-width: 480px) {
      left: calc(50% - 5rem);
    }

    &:hover {
      opacity: 1;
    }
  }

  h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10rem;
    font-size: 5rem;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.7);
    color: white;
    white-space: nowrap;

    @media (max-width: 480px) {
      font-size: 3.5rem;
      width: 100%;
      text-align: center;
    }
  }
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  z-index: 1000;
  width: 50vw;

  @media (max-width: 900px) {
    width: 90vw;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }
}

.whitepaper-section {
  .whitepaper-image {
    @media (max-width: 480px) {
      width: 60%;
      margin: 0 auto;
    }
  }
}

@keyframes heartbeat {
  0% {
    transform: scale(0.88);
  }

  20% {
    transform: scale(1);
  }

  40% {
    transform: scale(0.88);
  }

  60% {
    transform: scale(1);
  }

  80% {
    transform: scale(0.88);
  }

  100% {
    transform: scale(0.88);
  }
}
