@import "../../styles/colors";

.social-bullets {
  position: fixed;
  right: 0.25rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;

  > * {
    margin: 0.25rem 0;
  }

  .discord-container {
    position: relative;

    p {
      font-weight: 600;
      font-size: 1.5rem;
      color: black;
      position: absolute;
      left: -10rem;
      top: -9rem;
      line-height: 1.5rem;
      transition: opacity 0.3s ease-in-out;
      opacity: 1;
      filter: drop-shadow(3px 3px 3px rgba(34, 34, 34, 0.8));

      &.hide {
        transition: opacity 0.3s ease-in-out;
        opacity: 0;
      }
    }

    > img {
      position: absolute;
      left: -8rem;
      top: -6.2rem;
      transition: 0.3s ease-in-out;
      opacity: 1;
      filter: drop-shadow(3px 3px 3px rgba(34, 34, 34, 0.8));

      &.hide {
        transition: opacity 0.3s ease-in-out;
        opacity: 0;
      }
    }
  }
}

.social-bullet {
  position: relative;
  border-radius: 50%;
  width: 2.9rem;
  height: 2.9rem;
  transition: 0.5s;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: 0.2s ease-in-out;

  &.shadow {
    filter: drop-shadow(3px 3px 3px rgba(34, 34, 34, 1));
  }

  &.hover-scale {
    &:hover {
      width: 3.2rem;
      height: 3.2rem;
    }
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 24px;
  }
}

.opensea {
  background-color: #2081e2 !important;
}

.youtube {
  background-color: #ff0000 !important;
}

.fb {
  background-color: #3b5998 !important;
}

.twitter {
  background-color: #1da1f2 !important;
}

.reddit {
  background-color: #5f99cf !important;
}

.discord {
  background-color: black !important;
}

.instagram {
  background-color: #dd2a7b !important;
}

.menu {
  background-color: $darkBlue !important;
  width: 3rem;
  height: 3rem;
}
