@import "../../styles/colors";
@import "../../styles/mixins";

.container {
  position: fixed;
  width: 100%;
  height: 5rem;
  background-color: $secundaryDark;
  z-index: 5;

  ul {
    @include horizontal-list;

    li {
      color: white;
      cursor: pointer;
      margin: 0 0.5rem;
      font-family: "Barlow Semi Condensed";
      font-weight: 300;
      font-style: normal;
      font-size: 1.1rem;
    }
  }

  .join-button {
    width: 10rem;
  }
}
