@import "../../styles/colors";

.faction-section {
  position: relative;
  background-color: $primary;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .faction-containers {
    padding: 0 5rem;
  }

  .mobile-image {
    margin-bottom: 1rem;
  }
}
