@import "../../styles/colors";
@import "../../styles/mixins";

.container {
  .footer {
    width: 100%;
    background-color: rgba(31, 32, 50, 0.9);
    z-index: 10;
    display: flex;
    align-items: center;
    padding: 2rem 0;
    overflow: hidden;

    @media (max-width: 480px) {
      justify-content: center;
    }

    .form {
      margin-top: 0.5rem;

      p.title {
        color: $lightblue;
        font-size: 1.5rem;
        margin: 0;
        cursor: default;
      }

      padding: 0;
    }

    .subscribe-button {
      display: flex;
      justify-content: center;
      width: 100%;

      > button {
        width: 100% !important;
        margin-top: 1rem;
      }
    }

    .link-lists {
      display: flex;

      ul.list {
        font-family: "Barlow Condensed";
        @include reset-list;
        margin-right: 3rem;

        li.title {
          color: $lightblue;
          font-size: 1.5rem;
          margin-bottom: 1rem;
          cursor: default;
        }

        li {
          margin: 0.5rem 0;

          a {
            color: white;
            text-decoration: none;
            cursor: pointer;
            font-size: 1.2rem;
          }
        }
      }
    }

    p.partners-title {
      color: $lightblue;
      font-size: 1.5rem;
      margin-top: 0.5rem;
      margin-bottom: 1rem;
      cursor: default;

      @media (max-width: 450px) {
        margin: 0.5rem 0 1rem 1.5rem;
      }
    }

    .partners {
      display: flex;
      width: 100%;

      @media (max-width: 450px) {
        margin-left: 1.5rem;
      }

      ul {
        @include horizontal-list;
        padding: 0;
        margin: 0;

        li {
          margin: 0 1.2rem 1rem 0;
          padding: 0;

          img {
            height: 3rem;
            width: 3rem;

            @media (max-width: 450px) {
              height: 2.5rem;
              width: 2.5rem;
            }
          }
        }
      }
    }
  }

  .footer-end {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 3rem;
    background-color: $secondaryDark;

    padding-left: 1.5rem;

    p {
      color: white;
      font-size: 1rem;
      margin: 0;
    }

    .nav-social {
      display: flex;
      justify-content: flex-end;
    }
  }
}
