.container {
  display: flex;
  align-items: center;
  justify-content: center;

  .info {
    h3 {
      color: white;
      margin-bottom: 0;
    }

    h1 {
      color: white;
    }

    p {
      margin-top: 1rem;
      color: white;
      font-family: "Barlow Semi Condensed";
    }

    .button {
      width: 12rem;
    }
  }

  .image {
    @media (max-width: 480px) {
      padding-bottom: 1rem;
    }
  }
}
