.container {
  height: 100vh;
  max-height: 100vh;
  width: 100%;
  position: relative;

  .heading {
    z-index: 10;
    width: 100%;
    height: 20%;
    display: flex;
    justify-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
      text-align: center;
      color: white;
    }

    h2 {
      color: white;
      text-align: center;
    }
  }

  .content {
    z-index: 2;
    width: 100%;
    height: 100% !important;

    button {
      margin-top: 1rem;
    }
  }

  .bg-img {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: contain;
  }
}
