.container {
  height: 100vh;
  width: 100%;

  .content {
    position: relative;
    z-index: 2;
    width: 100%;
  }

  @media (max-width: 480px) {
    padding: 0 1rem;
  }

  .bg-img {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
  }
}
