@import "../../../styles/colors";

.wallet-intro-section {
  background-color: $primary;
  display: flex;
  align-items: center;
  justify-content: center;

  .info {
    h3 {
      color: white;
    }

    h1 {
      color: white;
    }

    p {
      color: white;
    }
  }
}
